.education-bg {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.education-bg > h1 {
  background-color: #012a4a;
  padding: 0 10px;
  border-radius: 10px;
  color: white;
}

input {
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: 2px solid #091103;
}

input[type="date"] {
  width: 100%;
}

form {
  margin: auto;
  font-size: 1.25rem;
}

.educ-btns > button {
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #a9d6e5;
  transition: background-color 0.3s ease;
}

.educ-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.educ-btns > button:hover {
  background-color: #012a4a;
  color: white;
}
