h1 {
    text-align: center;
    margin-top: 0;
}

.gen-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gen-form > h1 {
    background-color: #012A4A;
    padding: 0 10px;
    border-radius: 10px;
    color: white;
}

input {
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border: 2px solid #091103;
}

form {
    margin: auto;
    font-size: 1.25rem;
}

