.app-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
}

.title-buttons > button {
    border-radius: 10px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #012A4A;
    color: #ffff;
    padding: 10px;
}