.app-name {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.container {
    display: flex;
    align-content: center;
    flex-direction: column;
}