body {
    background-image: url(./svgs/body-bg.svg);
    /* background by SVGBackgrounds.com */
    background-position: center;
    background-size: cover;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    background-color: #012A4A;
}